<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
				<!--
                <add value="index.php" />
				-->
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <alwaysAllowedUrls>
                    <add url="/nacer-prueba/json.php" />
                </alwaysAllowedUrls>
            </requestFiltering>
        </security>
    </system.webServer>
    <system.web>
        <authentication mode="Forms" />
        <identity impersonate="true" />
    </system.web>
</configuration>
